:host {
  display: block;
  cursor: pointer;
  position: relative;
}
:host .select-area {
  background-color: #fff;
  border-radius: 3px;
  padding: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
:host .option-area {
  display: none;
  flex-direction: column;
  position: absolute;
  left: 0;
  right: 0;
  overflow: scroll;
  max-height: 300px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 0 0 3px 3px;
  overflow: auto;
  top: 40px;
  z-index: 3;
}
:host .option-area.show {
  display: flex;
}
